body {
  background-color: #212b2a;
}


header {
  text-align: center;
  color: whitesmoke;
  font-size: 25px;
}

h1 {
  margin: 0;
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p{
font-size: 20px;
color: whitesmoke;
}

nav {
  background-color: whitesmoke;
  text-align: center;
  padding: 15px;
  border: whitesmoke;
  border-radius: 15px;
}

a:link {
  color: darkgreen;
  font-size: 25px;
  margin: 15px;
}

a:visited {
  color: darkgreen;
}

main {
  color: whitesmoke;
}

img{
 border-radius: 5px;  
}

footer {
  color: darkgreen;
  background-color: whitesmoke;
  padding: 1px;
  border: whitesmoke;
  border-radius: 15px;
}

.container {
  display: grid;
  grid-template-areas:
    "logo header"
    "nav nav"
    "main main"
    "img img"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  padding: 5px;
}

.container div {
  padding: 10px;
}

.container div.logo {
  grid-area: logo;
}

.container div.header {
  grid-area: header;
  text-align: center;

}

.container div.nav {
  grid-area: nav;

}

.container div.main {
  grid-area: main;
}

.container div.img {
  grid-area: img;
  text-align: center;
}

.container div.footer {
  grid-area: footer;
  text-align: center;
}